*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: min-content 80vh;
  grid-template-columns:
    [full-start] minmax(1rem, 1fr) repeat(
      15,
      [col-start] minmax(min-content, 12rem) [col-end]
    )
    minmax(1rem, 1fr) [full-end];

  @include respond(phone) {
    grid-template-rows: min-content 30vh;
    grid-template-columns:
      [full-start] minmax(1rem, 1fr) repeat(
        15,
        [col-start] minmax(min-content, 12rem) [col-end]
      )
      minmax(1rem, 1fr) [full-end];
  }
}
