$color-primary-light: #04c1f6cf;
$color-primary-dark: #103586;
$color-primary-dark-1: #1244b2;

//  #00349c;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #cbc9c9;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
