.footer {
  // grid-column: 1 / -1;
  grid-column: col-start 1 / col-end 15;

  background: $color-primary-dark-1;
  color: $color-white;

  &__container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);

    &--bottom {
      background: $color-white;
      padding: 2rem 0;
    }
  }
}

.subscription {
  grid-column: 2/9;

  padding: 3rem 0;
  font-size: 1.8rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include respond(tab-land) {
    grid-column: 3/14;

    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;

    margin-right: 2rem;

    @include respond(tab-land) {
      margin-right: 0;
      padding-bottom: 3rem;

      flex-direction: column;
      align-items: stretch;
    }

    &--contact {
      flex: 1;
      justify-content: space-between;

      border-bottom: 1px solid white;
      padding-bottom: 0.5rem;
      margin-right: 0;

      @include respond(tab-land) {
        align-self: stretch;
        border-bottom: none;
      }
    }
  }

  &__input {
    align-self: stretch;

    position: relative;
    background: transparent;
    border: none;
    color: $color-white;

    @include respond(tab-land) {
      margin-bottom: 3rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid white;
    }

    &::placeholder {
      position: absolute;
      left: 0;
      top: 100%;
      font-size: 1.5rem;
      color: $color-grey-light-1;
    }

    &:focus {
      outline: none;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    border: none;
    font-size: 1.8rem;
    color: $color-white;
    cursor: pointer;

    // width: 50%;

    &:focus {
      outline: none;
    }

    .quo {
      font-size: 2.5rem;
      margin-left: 0.2rem;
      margin-top: -0.5rem;
    }

    @include respond(tab-land) {
      align-self: center;

      width: 50%;
      background: $color-white;
      padding: 1rem 0;
      color: $color-primary-dark-1;
    }

    @include respond(phone) {
      align-self: stretch;
      width: auto;
    }
  }
}

.media {
  grid-column: 12 / 16;

  padding: 3rem 0;
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  // margin-right: 1rem;

  @include respond(tab-land) {
    grid-column: 1 / -1;

    flex-direction: column;

    background: $color-white;
    color: $color-primary-dark-1;
  }

  &__items {
    font-size: 2rem;
    display: flex;
    align-items: center;

    @include respond(tab-land) {
      display: none;
    }

    &--phone {
      display: none;

      @include respond(tab-land) {
        display: flex;
      }
    }
  }

  &__item:not(:last-child) {
    margin-right: 1rem;
  }
}

.payment {
  grid-column: 2 / 7;

  background: $color-white;
  font-size: 1.5rem;
  color: $color-grey-dark-1;

  display: flex;
  //justify-content: center;
  align-items: center;

  @include respond(tab-land) {
    grid-column: 1 / -1;
    justify-content: center;
  }
}

.help {
  grid-column: 7 / 10;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include respond(tab-land) {
    grid-column: 1 / -1;
    justify-content: center;
  }

  color: $color-grey-dark-1;
}
