.nav {
  grid-column: col-start 2 / col-end 7;
  font-size: 1.5rem;
  color: $color-primary-dark;

  display: flex;
  align-items: center;

  @include respond(tab-port) {
    grid-column: col-start 1 / col-end 8;
  }

  @include respond(phone) {
    font-size: 1.8rem;
  }

  &__brand {
    align-self: stretch;
  }

  &__icon {
    width: 5.5rem;
    height: 100%;
  }

  &__nav {
    flex: 1;

    display: flex;

    @include respond(phone) {
      font-size: 1.8rem;
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  }

  &__items {
    list-style: none;
    text-transform: uppercase;

    display: flex;

    &--left {
      text-transform: initial;
      flex: 1;
      font-weight: 700;
    }
  }

  &__item {
    display: block;
    margin-right: 1rem;
  }

  &__link:link,
  &_link:visited {
    display: block;
    cursor: pointer;
  }
}
