.section {
  grid-column: col-start 2 / col-end 14;

  display: grid;
  margin: 5rem 0;

  &__heading {
    color: $color-primary-light;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__text1 {
    color: $color-primary-light;
  }

  &__text2 {
    color: $color-primary-dark;
    border-bottom: 0.5rem dashed currentColor;
    margin-left: 1rem;
  }
}
